@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, 'Noto Sans JP', ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    scroll-padding-top: 104px;
  }
}

.rehype-code-title {
  font-family: 'Noto Sans Mono CJK JP', 'Source Han Code JP', 'Ricty',
    'Ricty Diminished', 'Ricty Diminished Discord', 'Myrica M', 'MyricaM M',
    'Rounded M+ 1m regular', 'Rounded M+ 2m regular', 'Rounded Mgen+ 1m regular',
    'Rounded Mgen+ 2m regular', 'Migu 1M', 'Migu 2M', 'VL ゴシック', 'M+ 1m',
    'M+ 2m', 'Yutapon coding Regular', SFMono-Regular, Consolas, Menlo, Monaco,
    'Roboto Mono', 'Liberation Mono', 'Courier New', Courier, 'Osaka-mono',
    'Osaka-等幅', Meiryo, monospace;
  max-width: 96%;
  display: inline-block;
  position: relative;
  margin-top: 16px;
  margin-bottom: -2px;
  padding: 4px 16px;
  background-color: #0d1117;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  border-radius: 0;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rehype-code-title::-webkit-scrollbar {
  display: none;
}

.rehype-code-title + pre {
  margin-top: -8px;
  background-color: #0d1117;
  border-radius: 0;
}

pre,
code {
  width: 100%;
  max-width: calc(100vw - 64px);
  border-radius: 0;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
